doctype html
html
  head
    title mineAnnoncer
    link(rel="icon", type="image/x-icon", href="/images/logoub.png")
    link(rel="stylesheet", href="/stylesheets/style.css", type="text/css")
    script(src="javascripts/mineAnnoncer.js", type="text/javascript")
    script(src='routes/mineAnnoncer.js')
    script(src='/mineAnnoncer.js')
  body
    if advert.length > 0
      h1 Search Results
      table
        each ad in advert
          tr
            td= 'Annonce nummer: ' + ad.advertID
            td= 'Nummer plade: ' + ad.licencePlate
            td= 'Beskrivelse: ' + ad.description
            td= 'Mærke: ' + ad.manufacture
            td= 'Model: ' + ad.model
            td= 'Årgang: ' + ad.year
            td= 'Pris: ' + ad.price
    else
      p= 'ingen annoncer fundet'