doctype html
html
  head
    title mineAnnoncer
    link(rel="stylesheet", href="/stylesheets/style.css", type="text/css")
    script(src="javascripts/mineAnnoncer.js", type="text/javascript")
    script(src='routes/mineAnnoncer.js')
    script(src='/mineAnnoncer.js')
  body
    if advert.length > 0
      h1 Search Results
      table
        each ad in advert
          tr
            td= 'advertID: ' + ad.advertID
            td= 'licencePlate: ' + ad.licencePlate
            td= 'description: ' + ad.description
            td= 'manufactor: ' + ad.manufactor
            td= 'year: ' + ad.year
            td= 'price: ' + ad.price
    else
      p= 'ingen annoncer fundet'