doctype html
html
  head
    title mineAnnoncer
    script(src="javascripts/mineAnnoncer.js", type="text/javascript")
    script(src='routes/mineAnnoncer.js')
    script(src='/mineAnnoncer.js')
  body
    h1 TEST!
    if advert.length > 0
      h1 Search Results
      each ad in advert
        p= 'advertID: ' + ad.advertID
        p= 'licencePlate: ' + ad.licencePlate
        p= 'description: ' + ad.description
        p= 'manufactor: ' + ad.manufactor
        p= 'year: ' + ad.year
        p= 'price: ' + ad.price
    else
      p= 'ingen annoncer fundet'