if advert
  h1 Search Results
  p= 'advertID: ' + advert.advertID
  p= 'licencePlate: ' + advert.licencePlate
  p= 'description: ' + advert.description
  p= 'manufactor: ' + advert.manufactor
  p= 'year: ' + advert.year
  p= 'price: ' + advert.price
 //- p= 'picture: ' + advert.picture
else
  p= 'ingen annoncer fundet'