doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title index
    script(src="/public/javascripts/nyeAnnoncer.js", type="text/javascript")
    link(rel="stylesheet", href="/public/stylesheets/nyeAnnonce.css")
    script(src="javascripts/nyeAnnoncer.js", type="text/javascript")
    link(rel="stylesheet", href="stylesheets/nyeAnnonce.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
  body
    header.container
      div.header
        div.header-content
          a(href="/")
            img.logo(src="https://raw.githubusercontent.com/aikkel/BB1/main/public/images/logoub.png", alt="Logo")
          div.header-text Basensbiler
        div.content-header
          a(href="/minside", class="header-box") Min side
          a(href="/")
            button(onclick="logToConsole()" class="header-box3") Log ud

    div.content
      div.left-side
        h2 Kontakt Information
        p #{kontaktInfo.email}
        p #{kontaktInfo.city}
        p #{kontaktInfo.phone}

        form(method="post" action="/nyeAnnoncer")
          div
            input(type='hidden', name='action', value='fetchVehicleData')
            label(for="registration") Nummerplade:
            input(type="text" id="registration" name="registration" placeholder="Nummerplade")
            button(type="submit") Hent bil information

    
      if vehicleData
        div.middle-side
          div.box
            label Længde &nbsp;
            input(type="text" value=vehicleData.length readonly)

          div.box
            label Træk Kapacitet &nbsp;
            input(type="text" value=vehicleData.towing_weight readonly)

          div.box
            label Modelår &nbsp;
            input(type="text" value=vehicleData.model_year readonly)

          div.box
            label Brand &nbsp;
            input(type="text" value=vehicleData.brand readonly)

          div.box
            label Model &nbsp;
            input(type="text" value=vehicleData.model readonly)

          div.box
            label Vægt &nbsp;
            input(type="text" value=vehicleData.weight readonly)

        form(method="post" action="/nyeAnnoncer")
          div.box
            input(type='hidden', name='action', value='createAdvert')

            // Include vehicle data as hidden fields
            input(type='hidden', name='length', value=vehicleData.length)
            input(type='hidden', name='towing_weight', value=vehicleData.towing_weight)
            input(type='hidden', name='model_year', value=vehicleData.model_year)
            input(type='hidden', name='brand', value=vehicleData.brand)
            input(type='hidden', name='model', value=vehicleData.model)
            input(type='hidden', name='weight', value=vehicleData.weight)

            // User input for price
            label Pris &nbsp;
            input(type="text" name="price")
            button(type="submit") Opret Annonce

    footer.footer
      hr(size="2", width="90%", color="black")
      // Footer indhold her

    
    footer.footer
      hr(size="2", width="90%", color="black")
      div
        h1
          u Basensbiler
        p.ptext
          b Schibsted Denmark ApS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        p.ptext Wildersgade 8
        p.ptext 1408 København K
        p.ptext Danmark
      div
        h1
          u Service
        p.ptext
          b E-mail: keglemand@basensbiler.dk &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        p.ptext Tel.: +45 5672 0707
        p.ptext Mob.: +45 2096 6949
        p.ptext CVR.no.: 20618175
      div
        h1
          u Ejerforhold
        p.ptext
          b Direktør: Kevin Dyhr Mortensen  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        p.ptext Vicedirektør: Jakob Foersom
        p.ptext Økonomichef: Sercan Oruc
        p.ptext Marketingschef: Lucas Wolthers Havenkvist
        p.ptext Teknologichef: Emil Rud Peitersen